body{
  font-family: Helvetica;
  background-color: #ffc8a1;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f25a3c;
}

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
}

      .title{
        color: #f25a3c;
      }

      .Border{
          border: 10px solid #FFFFFF;
        }

  .profilepic{
    padding-bottom: 10px;
  }

  h2{

  }
