body {
    background-color: #ffc8a1;
}
button {
  margin: 0px;
  padding: 4px 12px;
  border-radius: 200px;
  background-color: #f9bf22;
  color: #fff;
  text-decoration: none;
}
h1 {
    color:#f25a3c; font-family:sans-serif;
}
h2 {
  color:grey; font-family: sans-serif;
}
p {
    color: grey; font-family:sans-serif;
}
