body{
  background-color: #ffc8a1;
  color: #f25a3c;
  font-family: "Helvetica", serif;
}

img{
  width: 50px;
  height: 50px;
}

div{
  margin: auto;
  width: 50%;
  text-align: center;
}

button {
  margin: 0px;
  padding: 4px 12px;
  border-radius: 200px;
  background-color: #f25a3c;
  color: #fff;
  text-decoration: none;
}

#title {
  font-size: 24px;
  border: none;
  width: 350px;
  font-family: "Helvetica", serif;
  padding: 8px;
  margin: 8px;
}

#text {
  font-size: 24px;
  border: none;
  width: 350px;
  height: 250px;
  font-family: "Helvetica", serif;
  padding: 8px;
  word-break: break-word;
  margin: 8px;
  margin-bottom: 26px;
}

/* textarea {
  padding: 8px;
  margin: 4px 0px;
  border: none;
  background-color: #eee;
  border-radius: 2px;
  transition: 0.25s;
  font-family: "Helvetica", serif;
  width: 350px;
  height: 100px;
} */

/* dreams of memes */
